In [19]:
import pandas as pd
from sqlalchemy import create_engine
pd.set_option('display.max_rows', None)

In [3]:
financial_data_file = "../Resources/2018_Financial_Data 2.csv"
return_data_file = "../Resources/Return.csv"

In [4]:
financial_data_df = pd.read_csv(financial_data_file)
financial_data_df.head()

,Unnamed: 0,Revenue,Revenue Growth,Cost of Revenue,Gross Profit,R&D Expenses,SG&A Expense,Operating Expenses,Operating Income,Interest Expense,...,Receivables growth,Inventory Growth,Asset Growth,Book Value per Share Growth,Debt Growth,R&D Expense Growth,SG&A Expenses Growth,Sector,2019 PRICE VAR [%],Class
0,CMCSA,9.450700e+10,0.1115,0.000000e+00,9.450700e+10,0.000000e+00,6.482200e+10,7.549800e+10,1.900900e+10,3.542000e+09,...,0.2570,0.0000,0.3426,0.0722,0.7309,0.0000,0.1308,Consumer Cyclical,32.794573,1
1,KMI,1.414400e+10,0.0320,7.288000e+09,6.856000e+09,0.000000e+00,6.010000e+08,3.062000e+09,3.794000e+09,1.917000e+09,...,0.0345,-0.0920,-0.0024,0.0076,-0.0137,0.0000,-0.1265,Energy,40.588068,1
2,INTC,7.084800e+10,0.1289,2.711100e+10,4.373700e+10,1.354300e+10,6.750000e+09,2.042100e+10,2.331600e+10,-1.260000e+08,...,0.1989,0.0387,0.0382,0.1014,-0.0169,0.0390,-0.0942,Technology,30.295514,1
3,MU,3.039100e+10,0.4955,1.250000e+10,1.789100e+10,2.141000e+09,8.130000e+08,2.897000e+09,1.499400e+10,3.420000e+08,...,0.4573,0.1511,0.2275,0.6395,-0.5841,0.1738,0.0942,Technology,64.213737,1
4,GE,1.216150e+11,0.0285,9.546100e+10,2.615400e+10,0.000000e+00,1.811100e+10,4.071100e+10,-1.455700e+10,5.059000e+09,...,-0.2781,-0.2892,-0.1575,-0.4487,-0.2297,0.0000,0.0308,Industrials,44.757840,1

In [5]:
return_data_file_df = pd.read_csv(return_data_file)
return_data_file_df.head()

  TICKER                  NAME  Date_12/29/2017  Date_12/31/2018        Return
0   BKNG  BOOKING HOLDINGS INC          1737.74          1722.42  -0.008816048
1   AMZN        AMAZON.COM INC          1169.47          1501.97   0.284316827
2  GOOGL     ALPHABET INC-CL A          1053.40          1044.96  -0.008012151
3   GOOG     ALPHABET INC-CL C          1046.40          1035.61  -0.010311544
4    AZO          AUTOZONE INC           711.37           838.34   0.178486582

In [6]:
financial_data_df.columns.tolist()

['Unnamed: 0',
 'Revenue',
 'Revenue Growth',
 'Cost of Revenue',
 'Gross Profit',
 'R&D Expenses',
 'SG&A Expense',
 'Operating Expenses',
 'Operating Income',
 'Interest Expense',
 'Earnings before Tax',
 'Income Tax Expense',
 'Net Income - Non-Controlling int',
 'Net Income - Discontinued ops',
 'Net Income',
 'Preferred Dividends',
 'Net Income Com',
 'EPS',
 'EPS Diluted',
 'Weighted Average Shs Out',
 'Weighted Average Shs Out (Dil)',
 'Dividend per Share',
 'Gross Margin',
 'EBITDA Margin',
 'EBIT Margin',
 'Profit Margin',
 'Free Cash Flow margin',
 'EBITDA',
 'EBIT',
 'Consolidated Income',
 'Earnings Before Tax Margin',
 'Net Profit Margin',
 'Cash and cash equivalents',
 'Short-term investments',
 'Cash and short-term investments',
 'Receivables',
 'Inventories',
 'Total current assets',
 'Property, Plant & Equipment Net',
 'Goodwill and Intangible Assets',
 'Long-term investments',
 'Tax assets',
 'Total non-current assets',
 'Total assets',
 'Payables',
 'Short-term debt',
 'Total current liabilities',
 'Long-term debt',
 'Total debt',
 'Deferred revenue',
 'Tax Liabilities',
 'Deposit Liabilities',
 'Total non-current liabilities',
 'Total liabilities',
 'Other comprehensive income',
 'Retained earnings (deficit)',
 'Total shareholders equity',
 'Investments',
 'Net Debt',
 'Other Assets',
 'Other Liabilities',
 'Depreciation & Amortization',
 'Stock-based compensation',
 'Operating Cash Flow',
 'Capital Expenditure',
 'Acquisitions and disposals',
 'Investment purchases and sales',
 'Investing Cash flow',
 'Issuance (repayment) of debt',
 'Issuance (buybacks) of shares',
 'Dividend payments',
 'Financing Cash Flow',
 'Effect of forex changes on cash',
 'Net cash flow / Change in cash',
 'Free Cash Flow',
 'Net Cash/Marketcap',
 'priceBookValueRatio',
 'priceToBookRatio',
 'priceToSalesRatio',
 'priceEarningsRatio',
 'priceToFreeCashFlowsRatio',
 'priceToOperatingCashFlowsRatio',
 'priceCashFlowRatio',
 'priceEarningsToGrowthRatio',
 'priceSalesRatio',
 'dividendYield',
 'enterpriseValueMultiple',
 'priceFairValue',
 'ebitperRevenue',
 'ebtperEBIT',
 'niperEBT',
 'grossProfitMargin',
 'operatingProfitMargin',
 'pretaxProfitMargin',
 'netProfitMargin',
 'effectiveTaxRate',
 'returnOnAssets',
 'returnOnEquity',
 'returnOnCapitalEmployed',
 'nIperEBT',
 'eBTperEBIT',
 'eBITperRevenue',
 'payablesTurnover',
 'inventoryTurnover',
 'fixedAssetTurnover',
 'assetTurnover',
 'currentRatio',
 'quickRatio',
 'cashRatio',
 'daysOfSalesOutstanding',
 'daysOfInventoryOutstanding',
 'operatingCycle',
 'daysOfPayablesOutstanding',
 'cashConversionCycle',
 'debtRatio',
 'debtEquityRatio',
 'longtermDebtToCapitalization',
 'totalDebtToCapitalization',
 'interestCoverage',
 'cashFlowToDebtRatio',
 'companyEquityMultiplier',
 'operatingCashFlowPerShare',
 'freeCashFlowPerShare',
 'cashPerShare',
 'payoutRatio',
 'operatingCashFlowSalesRatio',
 'freeCashFlowOperatingCashFlowRatio',
 'cashFlowCoverageRatios',
 'shortTermCoverageRatios',
 'capitalExpenditureCoverageRatios',
 'dividendpaidAndCapexCoverageRatios',
 'dividendPayoutRatio',
 'Revenue per Share',
 'Net Income per Share',
 'Operating Cash Flow per Share',
 'Free Cash Flow per Share',
 'Cash per Share',
 'Book Value per Share',
 'Tangible Book Value per Share',
 'Shareholders Equity per Share',
 'Interest Debt per Share',
 'Market Cap',
 'Enterprise Value',
 'PE ratio',
 'Price to Sales Ratio',
 'POCF ratio',
 'PFCF ratio',
 'PB ratio',
 'PTB ratio',
 'EV to Sales',
 'Enterprise Value over EBITDA',
 'EV to Operating cash flow',
 'EV to Free cash flow',
 'Earnings Yield',
 'Free Cash Flow Yield',
 'Debt to Equity',
 'Debt to Assets',
 'Net Debt to EBITDA',
 'Current ratio',
 'Interest Coverage',
 'Income Quality',
 'Dividend Yield',
 'Payout Ratio',
 'SG&A to Revenue',
 'R&D to Revenue',
 'Intangibles to Total Assets',
 'Capex to Operating Cash Flow',
 'Capex to Revenue',
 'Capex to Depreciation',
 'Stock-based compensation to Revenue',
 'Graham Number',
 'ROIC',
 'Return on Tangible Assets',
 'Graham Net-Net',
 'Working Capital',
 'Tangible Asset Value',
 'Net Current Asset Value',
 'Invested Capital',
 'Average Receivables',
 'Average Payables',
 'Average Inventory',
 'Days Sales Outstanding',
 'Days Payables Outstanding',
 'Days of Inventory on Hand',
 'Receivables Turnover',
 'Payables Turnover',
 'Inventory Turnover',
 'ROE',
 'Capex per Share',
 'Gross Profit Growth',
 'EBIT Growth',
 'Operating Income Growth',
 'Net Income Growth',
 'EPS Growth',
 'EPS Diluted Growth',
 'Weighted Average Shares Growth',
 'Weighted Average Shares Diluted Growth',
 'Dividends per Share Growth',
 'Operating Cash Flow growth',
 'Free Cash Flow growth',
 '10Y Revenue Growth (per Share)',
 '5Y Revenue Growth (per Share)',
 '3Y Revenue Growth (per Share)',
 '10Y Operating CF Growth (per Share)',
 '5Y Operating CF Growth (per Share)',
 '3Y Operating CF Growth (per Share)',
 '10Y Net Income Growth (per Share)',
 '5Y Net Income Growth (per Share)',
 '3Y Net Income Growth (per Share)',
 '10Y Shareholders Equity Growth (per Share)',
 '5Y Shareholders Equity Growth (per Share)',
 '3Y Shareholders Equity Growth (per Share)',
 '10Y Dividend per Share Growth (per Share)',
 '5Y Dividend per Share Growth (per Share)',
 '3Y Dividend per Share Growth (per Share)',
 'Receivables growth',
 'Inventory Growth',
 'Asset Growth',
 'Book Value per Share Growth',
 'Debt Growth',
 'R&D Expense Growth',
 'SG&A Expenses Growth',
 'Sector',
 '2019 PRICE VAR [%]',
 'Class']

In [7]:
#Unnamed: 0,Revenue,Net Income, EPS,Dividend per Share, returnOnEquity, debtRatio, Market Cap
reduced_financial_data = financial_data_df [["Unnamed: 0", "Revenue", "Net Income", "EPS", "Dividend per Share",
                                            "returnOnEquity", "debtRatio", "Market Cap"]]
reduced_financial_data.head()

,Unnamed: 0,Revenue,Net Income,EPS,Dividend per Share,returnOnEquity,debtRatio,Market Cap
0,CMCSA,9.450700e+10,1.173100e+10,2.56,0.917,0.1638,0.4440,1.549106e+11
1,KMI,1.414400e+10,1.609000e+09,0.66,0.725,0.0478,0.4733,3.394394e+10
2,INTC,7.084800e+10,2.105300e+10,4.57,1.200,0.2824,0.2060,2.141885e+11
3,MU,3.039100e+10,1.413500e+10,12.27,0.000,0.4377,0.1069,6.119161e+10
4,GE,1.216150e+11,-2.235500e+10,-2.62,0.370,-0.7216,0.3330,6.331184e+10

In [8]:
reduced_financial_data = reduced_financial_data.rename (columns={'Unnamed: 0':'ticker','Revenue': 'revenue',
                                                                 'Net Income':'net_income','EPS':'eps',
                                                                 'Dividend per Share':'dividend_per_share',
                                                                 'returnOnEquity': 'roe','debtRatio': 'debt_ratio',
                                                                'Market Cap':'market_cap'})
reduced_financial_data.head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap
0,CMCSA,9.450700e+10,1.173100e+10,2.56,0.917,0.1638,0.4440,1.549106e+11
1,KMI,1.414400e+10,1.609000e+09,0.66,0.725,0.0478,0.4733,3.394394e+10
2,INTC,7.084800e+10,2.105300e+10,4.57,1.200,0.2824,0.2060,2.141885e+11
3,MU,3.039100e+10,1.413500e+10,12.27,0.000,0.4377,0.1069,6.119161e+10
4,GE,1.216150e+11,-2.235500e+10,-2.62,0.370,-0.7216,0.3330,6.331184e+10

In [9]:
renamed_return_data_df = return_data_file_df.rename (columns={'TICKER': 'ticker', 'NAME':'company_name', 'Date_12/29/2017': 
                                                              'stock_price_as_of_12292017', 'Date_12/31/2018':
                                                              'stock_price_as_of_12312018', 'Return':'return'})
renamed_return_data_df.head()

,ticker,company_name,stock_price_as_of_12292017,stock_price_as_of_12312018,return
0,BKNG,BOOKING HOLDINGS INC,1737.74,1722.42,-0.008816048
1,AMZN,AMAZON.COM INC,1169.47,1501.97,0.284316827
2,GOOGL,ALPHABET INC-CL A,1053.40,1044.96,-0.008012151
3,GOOG,ALPHABET INC-CL C,1046.40,1035.61,-0.010311544
4,AZO,AUTOZONE INC,711.37,838.34,0.178486582

In [10]:
reduced_financial_data.columns

Index(['ticker', 'revenue', 'net_income', 'eps', 'dividend_per_share', 'roe',
       'debt_ratio', 'market_cap'],
      dtype='object')

In [11]:
reduced_financial_data = reduced_financial_data.sort_values(by='revenue', ascending = False)
reduced_financial_data.head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap
90,WMT,5.003430e+11,9.862000e+09,3.2900,2.0400,0.1266,0.2273,3.157899e+11
1482,SNP,4.184051e+11,8.917221e+09,7.3806,1.2486,0.0859,0.0971,1.800300e+10
2204,PTR,3.406061e+11,7.610854e+09,4.1968,0.3278,0.0433,0.1674,1.298705e+10
427,BP,3.037380e+11,9.383000e+09,2.8190,2.4250,0.0944,0.2332,1.270320e+11
36,XOM,2.902120e+11,2.084000e+10,4.8800,3.2300,0.1087,0.1092,2.887033e+11

In [12]:
reduced_financial_data_df= reduced_financial_data.reset_index(drop=True)
reduced_financial_data_df.head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap
0,WMT,5.003430e+11,9.862000e+09,3.2900,2.0400,0.1266,0.2273,3.157899e+11
1,SNP,4.184051e+11,8.917221e+09,7.3806,1.2486,0.0859,0.0971,1.800300e+10
2,PTR,3.406061e+11,7.610854e+09,4.1968,0.3278,0.0433,0.1674,1.298705e+10
3,BP,3.037380e+11,9.383000e+09,2.8190,2.4250,0.0944,0.2332,1.270320e+11
4,XOM,2.902120e+11,2.084000e+10,4.8800,3.2300,0.1087,0.1092,2.887033e+11

In [13]:
clean_financial_data = reduced_financial_data_df[0:101]
clean_financial_data.head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap
0,WMT,5.003430e+11,9.862000e+09,3.2900,2.0400,0.1266,0.2273,3.157899e+11
1,SNP,4.184051e+11,8.917221e+09,7.3806,1.2486,0.0859,0.0971,1.800300e+10
2,PTR,3.406061e+11,7.610854e+09,4.1968,0.3278,0.0433,0.1674,1.298705e+10
3,BP,3.037380e+11,9.383000e+09,2.8190,2.4250,0.0944,0.2332,1.270320e+11
4,XOM,2.902120e+11,2.084000e+10,4.8800,3.2300,0.1087,0.1092,2.887033e+11

In [14]:
combined_financial_return_data = pd.merge(clean_financial_data, renamed_return_data_df, on="ticker", how="outer")
combined_financial_return_data.head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap,company_name,stock_price_as_of_12292017,stock_price_as_of_12312018,return
0,WMT,5.003430e+11,9.862000e+09,3.2900,2.0400,0.1266,0.2273,3.157899e+11,WALMART INC,98.75,93.15,-0.056708861
1,SNP,4.184051e+11,8.917221e+09,7.3806,1.2486,0.0859,0.0971,1.800300e+10,NaN,NaN,NaN,NaN
2,PTR,3.406061e+11,7.610854e+09,4.1968,0.3278,0.0433,0.1674,1.298705e+10,NaN,NaN,NaN,NaN
3,BP,3.037380e+11,9.383000e+09,2.8190,2.4250,0.0944,0.2332,1.270320e+11,NaN,NaN,NaN,NaN
4,XOM,2.902120e+11,2.084000e+10,4.8800,3.2300,0.1087,0.1092,2.887033e+11,EXXON MOBIL CORP,83.64,68.19,-0.18472023

In [47]:
#topUSCompanies
final_financial_return_data = pd.merge(clean_financial_data, renamed_return_data_df, on="ticker", how="inner")
final_financial_return_data.head()
final_financial_return_data.dtypes

ticker                         object
revenue                       float64
net_income                    float64
eps                           float64
dividend_per_share            float64
roe                           float64
debt_ratio                    float64
market_cap                    float64
company_name                   object
stock_price_as_of_12292017    float64
stock_price_as_of_12312018    float64
return                         object
dtype: object

In [48]:
#numberformatting
final_financial_return_data ["revenue"] = final_financial_return_data ["revenue"].map("${:,.0f}".format)
final_financial_return_data ["net_income"] = final_financial_return_data ["net_income"].map("{:,.0f}".format)
final_financial_return_data ["eps"] = final_financial_return_data ["eps"].map("{:.2f}".format)
final_financial_return_data ["dividend_per_share"] = final_financial_return_data ["dividend_per_share"].map("${:.2f}".format)
final_financial_return_data ["roe"] = final_financial_return_data ["roe"].map("{:.2f}%".format)
final_financial_return_data ["debt_ratio"] = final_financial_return_data ["debt_ratio"].map("{:.2f}%".format)
final_financial_return_data ["market_cap"] = final_financial_return_data ["market_cap"].map("${:,.0f}".format)
final_financial_return_data ["stock_price_as_of_12292017"] = final_financial_return_data ["stock_price_as_of_12292017"].map("${:.2f}".format)
final_financial_return_data ["stock_price_as_of_12312018"] = final_financial_return_data ["stock_price_as_of_12312018"].map("${:.2f}".format)
final_financial_return_data.head()
final_financial_return_data.dtypes

ticker                        object
revenue                       object
net_income                    object
eps                           object
dividend_per_share            object
roe                           object
debt_ratio                    object
market_cap                    object
company_name                  object
stock_price_as_of_12292017    object
stock_price_as_of_12312018    object
return                        object
dtype: object

In [49]:
#connect to database
rds_connection_string = "postgres:postgres@localhost:5432/financial_data_db"
#username & password may be postgres
engine = create_engine(f'postgresql://{rds_connection_string}')

In [50]:
#check for table
engine.table_names()

['financial_data']

In [51]:
#use pandas to load csv
final_financial_return_data.to_sql(name='financial_data', con=engine, if_exists='append', index=False)

In [52]:
#confirming data is in query
pd.read_sql_query('select * from financial_data', con=engine).head()

,ticker,revenue,net_income,eps,dividend_per_share,roe,debt_ratio,market_cap,company_name,stock_price_as_of_12292017,stock_price_as_of_12312018,return
0,WMT,"$500,343,000,000","9,862,000,000",3.29,$2.04,0.13%,0.23%,"$315,789,862,037",WALMART INC,$98.75,$93.15,-0.056708861
1,XOM,"$290,212,000,000","20,840,000,000",4.88,$3.23,0.11%,0.11%,"$288,703,310,922",EXXON MOBIL CORP,$83.64,$68.19,-0.18472023
2,AAPL,"$265,595,000,000","59,531,000,000",12.01,$2.72,0.56%,0.31%,"$1,097,648,982,760",APPLE INC,$169.23,$157.74,-0.067895763
3,AMZN,"$232,887,000,000","10,073,000,000",20.68,$0.00,0.23%,0.20%,"$734,416,210,197",AMAZON.COM INC,$1169.47,$1501.97,0.284316827
4,UNH,"$226,247,000,000","11,986,000,000",12.45,$3.45,0.23%,0.24%,"$239,661,959,904",UNITEDHEALTH GROUP INC,$220.46,$249.12,0.130000907